extends presets/layout

block content
  link(rel='stylesheet' href='/stylesheets/standard.css')
  link(rel='stylesheet' href='/stylesheets/backgroundrain.css')
  .contentcenter
    h1= title
    .coverimg
    p(class='paragraphShort') You must have an account before playing #{title}, click below to create an account or play.
    .statscontainer
      h1 Statistics 
      label Online Players: 
      p1(id='onlinePlayers') 100
      br
      label Active Players: 
      p1(id='acrivePlayers') 100
      br
      label Total Players: 
      p1(id='acrivePlayers') 100
    a(href="/window") 
      button(class='buttonLarge') PLAY
  .rain