extends presets/defaults/layout

block content
    link(rel='stylesheet' href='/clientWebpage/stylesheets/standard.css')
    script(src="/clientGame/preparation/scriptsDownloader.js") 
    p Please Wait While All Files Are Being Downloaded