extends presets/defaults/layout

block content
    link(rel='stylesheet' href='/stylesheets/standard.css')
    p You are authenticated and in the game window, you computer is downloading neccesary files to run the game



