extends ../defaults/layout

block content
  link(rel='stylesheet' href='/clientWebpage/stylesheets/standard.css')
  link(rel='stylesheet' href='/clientWebpage/stylesheets/backgroundrain.css')
  .contentcenter
    block centercontent