extends ../defaults/layout

block content
  link(rel='stylesheet' href='/website/stylesheets//standard.css')
  link(rel='stylesheet' href='/website/stylesheets/backgroundrain.css')
  .contentcenter
    block centercontent