@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

.container {
  position: absolute;
  height: 100%;
  width: 100vw;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.element {
  position: relative;
  height: 50px;
  width: auto;
  text-align: center;
  padding: 2px;
  margin-inline: 5px;
  margin-bottom: 5px;
  background-color: gray;
  transition: background-color 0.5s, transform 0.5s;
  font-family: 'Source Code Pro', monospace;
  font-size: 10px;
  overflow: hidden;
}

.element:hover {
  background-color: rgb(153, 78, 78);
  transform: scale(1.1);
}
